.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: var(--space-xl);
  text-align: center;
}

h2 {
  font-size: var(--text-2xl);
}

.cardContainer {
  margin-top: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.postCard {
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface-light);
  padding: var(--space-sm) var(--space-xl);
  border: 1px white solid;
  border-radius: 10px;
  box-shadow: 0 0 5px whitesmoke;
  gap: var(--space-sm);
}

.postCard h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postCard div {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
}

.postCard p {
  width: 100%;
}

.postCard:hover {
  box-shadow: none;
  background-color: var(--color-surface);
  color: var(--color-text-muted);
}

.posterName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width <= 1024px) {
  .content {
    width: 100%;
  }
}

@media (width <= 500px) {
  .content {
    margin: var(--space-xl) var(--space-sm);
  }
  .postCard {
    padding: var(--space-md);
  }
}
