.rootBox {
  padding: var(--space-xl);
}

.dashNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-md);
}

.dashNav a {
  background-color: var(--color-surface-light);
  border: 1px solid white;
  border-radius: var(--radius-sm);
  padding: 0 var(--space-sm);
  width: 140px;
  text-align: center;
  box-shadow: 0 0 5px white;
}

aside {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-xl);
  border: 1px solid white;
  border-radius: var(--radius-sm);
  text-align: center;
  padding: var(--space-md);
  height: fit-content;
  gap: var(--space-md);
  background-color: var(--color-surface-light);
  white-space: nowrap;
}

.dashContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

div h2 {
  margin: var(--space-lg) 0;
}

.dashNav a:hover {
  background-color: var(--color-surface);
  box-shadow: none;
  color: var(--color-text-muted);
}

@media (width <= 1024px) {
  .rootBox {
    padding: var(--space-lg) 0;
  }
  .dashNav {
    padding: 0 var(--space-sm);
  }
}
